:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px auto;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

a {
  cursor: pointer;
  text-align: center;
}

.img-flag {
  position: relative;
  top: -2px;
  width: 28px;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.navigation a {
  border: 1px solid var(--primary-color);
  padding: 20px 15px;
  margin: 20px;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
}

.navigation-contact {
  background: var(--primary-color);
  color: white;
}

.navigation-about {
  color: var(--primary-color);
}

.email-link {
  display: block;
  text-align: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 15px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
  text-transform: capitalize;
}

.about-paragraphs {
  background: var(--secondary-color);
  margin: 20px auto;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

.navbar-color {
  background: var(--secondary-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 34px;
    text-align: center;
  }

  h3 {
    font-size: 19px;
  }

  p {
    text-align: center;
  }

  .navigation {
    margin-top: 20px;
  }

  .primary-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
